@charset "UTF-8";
/* CSS Document */

/* Color Palette
Maroon: #660000
Gold: #FFE599
Black: #232426
Grey: #262626
White: #000
*/

.main {
	max-width: 960px;
	margin: 0px auto;
	padding: 30px;
	background-color: rgba(217,217,217,0.4);
	margin-top: 50px;
}

h1, h2, h3 {
	font-family: Helvetica, sans-serif;
}

.footer {
	text-align: center;
	max-width: 945px;
	margin: 5px auto;
	padding: 1px;
	background-color: rgba(217,217,217,0.5);
	font-size: 14px;
	float: bottom;
	clear: left;
	position: relative;
	top: 10px;
}

.bullet li {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 2.5em;
}

.number li {
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	line-height: 2.5em;
}

#stats {
	margin: auto;
	width: 75%;
	border: solid 1px black;
	border-collapse: collapse;
}

#stats th, td {
	border-right: solid 1px black;
	padding: 15px;
	border-bottom: solid 1px black;
}

#downloads {
	margin: auto;
	width: 75%;
	border: solid 1px black;
	border-collapse: collapse;
}

#downloads th, td {
	border-right: solid 1px black;
	padding: 15px;
	border-bottom: solid 1px black;
}

.footer p {
	line-height: .7em;
}

p {
	font-family: Helvetica, sans-serif;
	line-height: 1.75em;
}
a:link {
	color: #000;
}
a:visited {
	color: #262626;
}
a:hover {
	color: #660000;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.content p {
	line-height: 2.5em;
}

.ital {
	font-style: italic;
}

.fixed-nav-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px !important;
  background-color: #232426 !important;
  overflow: hidden !important;
}

.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 45px;
  line-height: 20px;
}

.navlogo {
	width: 100px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	float: left;
	position: relative;
	top: 5px;
	left: 30px;
	background: transparent url('../img/ossui-navlogo.png') center top no-repeat;
}

.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}
.menu a, .menu a:visited {
  color: #ffe599;         
  /***** Menu items *****/
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}

.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}

.mySlides {
	display:none;
	background-color: rgba(217,217,217,0.4);
	padding-left: 5px;
	padding-right: 5px;
}

.homeSlides {
	display: none;
	background-color: rgba(217,217,217,0.4);
	padding-left: 5px;
	padding-right: 5px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 960px;
  max-height: 600px;
  position: relative;
  margin: auto;
  width: 100%;
}

/* Slideshow indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  position: relative;
  top: -15px;
}

.slideButton {
	border: none;
	display: inline-block;
	padding: 8px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	white-space: nowrap;
}

.slideButtonColor, .slideButtonColor:hover {
	color: #ffe599!important;
	background-color: #232426!important;
}

.slideButtonLeft {
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(-0%,-50%);
}

.slideButtonRight {
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
}

.info {
	padding: 30px;
	width: 420px;
	height: 240px;
	display: inline-block;
	float: left;
}
