@charset "UTF-8";
/* CSS Document */

/* Color Palette
Maroon: #660000
Gold: #FFE599
Black: #232426
Grey: #262626
White: #000
*/

.main {
	max-width: 960px;
	margin: 0px auto;
	padding: 30px;
	background-color: rgba(217,217,217,0.4);
	margin-top: 20px;
}

h1, h2, h3 {
	font-family: Helvetica, sans-serif;
}

.footer {
	text-align: center;
	max-width: 945px;
	margin: 5px auto;
	padding: 1px;
	background-color: rgba(217,217,217,0.5);
	font-size: 14px;
	float: bottom;
	clear: left;
	position: relative;
	top: 10px;
}

.footer p {
	line-height: .7em;
}

p {
	font-family: Helvetica, sans-serif;
	line-height: 1.75em;
}
a:link {
	color: #000;
}
a:visited {
	color: #262626;
}
a:hover {
	color: #660000;
}


.content p {
	line-height: 1.75em;
}

tr:hover {
	color: #ffb310;
	background-color: rgba(242,242,242,0.4);
}


.ital {
	font-style: italic;
}

.fixed-nav-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px !important;
  background-color: #232426 !important;
  overflow: hidden !important;
}

.fixed-nav-bar li, .fixed-nav-bar a { 
  height: 45px;
  line-height: 20px;
}

.navlogo {
	width: 100px;
	height: 40px;
	display: inline-block;
	margin-right: 10px;
	float: left;
	position: relative;
	top: 5px;
	left: 30px;
	background: transparent url('img/ossui-navlogo.PNG') center top no-repeat;
}

.menu {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}
.menu a, .menu a:visited {
  color: #ffe599;         /***** Menu items *****/
}
.menu a:hover, .menu a:target {
  color: #ebebeb;
}
.menu-items {
  display: inline-block;
}

.menu-items li {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.menu-items a {
  text-decoration: none;
}
